<% provide(:title, 'About') %>

<div class="container">
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div class="container grey">
	
<h1>About Page</h1>
<p>This page tells you a little bit more about us and how we decided to pursue this humble ambition. We would like to tell you our story behind how this thing was founded.</p>
</div>
</div>
</div>
</div>


