<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
<head>
<title>
	<%= yield(:title) %> Page
</title>
</head>
<body>

<h1>About Page</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
</body>
</html>
