<% provide(:title, 'Contact') %>
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">

<h1>Contact Page</h1>
<p>Please see below for the contact us form</p>

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
<div class="form-group">
<label> Query </label>
<textarea class="form-control" rows="5"></textarea><br>
</div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</div>
</div>

