<% provide(:title, 'Home') %>

<div class="background-custom">
	
<div class="front-page center"> 
	
<h1><span>Singapore Review</span></h1>
<p><span>Discover Singapore's best in film, music, art and food</span></p>
<span><%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %></span>

</div>

</div>

