@import "bootstrap";

/* variables, mixins etc */ 

$lightgray: #999;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal styling */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.navbar {
	background-color: #fff;
}

/* Adjusting the typography */

h1, h2, h3, h4, h5, h6 {
line-height: 1;
}

h1 {
	font-size: 3.3em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p{
	font-size: 1.2em;
	line-height: 1.7em;
}

/* Adjusting the logo */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2.7em;
	color: #000;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #bbb;
	text-decoration: none;
}

/* Photo on front page */

.background-custom {
	background-image: url("unsplash1.jpg");
	height: 620px;
	width: 1380px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

}

/* Words on front page */
.front-page {
padding-top: 160px;
color: $lightgray;
}

/* Sidebar of User Show Page */

.newuser {
	margin-left: 15px;
}

.gravatar {
	float: left;
	margin-right: 5px;
}

/* Signup Page styling */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.signup {
	position: center;
}

/* Error Explanations */

/* Users index page */

.users {
	list-style: none;
	margin: 0;
}

.users li {
	overflow: auto;
	padding: 10px, 0;
	border-top: 1px solid $lightgray;
}

/* Microposts styling */

.microposts {
	list-style: none;
	margin: 10px, 0 0 0;
}

.microposts li {
	padding: 10px 0;
	border-top: 1px solid #e8e8e8;
}

.content {
	display: block;
}

.timestamp {
	color: $lightgray;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

/* About page styling */

/* Contact Us page styling */

/* Miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box-sizing;
}








